# Exclude everything by default for a minimal build context.
*

# Include only files needed by Docker runtime image.
!Dockerfile
!Dockerfile.discovery
!.dockerignore
!space/
!space/**
!src/
!src/**
!data/glossary/
!data/glossary/**
!data/registry/
!data/registry/maasai_vetted_web_sources.json
!scripts/
!scripts/discover_maasai_media_intelligence.py
!README.md
!LICENSE
